:root{
    --primary-color: #D86C70;
    --secondary-color: #7F8076;
}

*{  
    padding: 0;
    margin: 0;
}

::selection{
    background: var(--primary-color);
    color: #000;
}

html,body{
    overflow: hidden !important;
}

body{
    font-family: 'Verdana' !important;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 5vh 5vh 75vh 5vh;
}

div#header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

div#header-container > h1{
    font-size: 400%;
    color: var(--primary-color);
}

div#header-container > h1:hover{
    cursor: pointer;
}

div#help-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

div#help-container > p{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#options-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

div#options-container > b{
    margin-left: 10px;
    margin-right: 5px;
}

div#options-container > input[type='number']{
    height: 35%;
    padding: 4px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid 1px var(--secondary-color);
}

div#options-container > input[type='radio']{
    margin: 4px;
}

div#operations-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px var(--primary-color);
}

div#operations-container > input[type='button']{
    -webkit-appearance: none !important;
    background: var(--primary-color);
    color: #ffffff;
    min-height: 50%;
    min-width: 10%;
    padding: 4px !important;
    border: solid 1px #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}

div#operations-container > input[type='button']:hover{
    cursor: pointer;
    background: #ffffff !important;
    color: var(--primary-color);
    border-color: var(--primary-color) !important;
}


input[type='number']:focus{
    outline-color: var(--primary-color) !important;
}

img#help-icon{
    object-fit: contain;
    position: absolute;
    top: 1%;
    right: 1%;
    height: 3vh;
    width: 3vw;
    filter: invert(40%) sepia(92%) saturate(348%) hue-rotate(310deg) brightness(107%) contrast(76%);
}

img#help-icon:hover{
    filter: grayscale(100%);
    cursor: pointer;
}

div#help-menu{
    background: #ffffff;
    display: grid;
    visibility: hidden;
    position: absolute;
    grid-template-columns: 40vw;
    grid-template-rows: 3vh 5vh auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 3px var(--primary-color);
}

div#help-menu > button{
    background: var(--primary-color);
    color: #ffffff;
    text-align: right;
    padding-right: 10px;
    border: none;
}

div#help-menu > button:hover{
    cursor: pointer;
}

div#help-menu > h1{
    text-align: center;
    color: var(--primary-color);
}

div#help-menu > p#help-text{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

div#playback-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 3px var(--primary-color); 
}

div#playback-menu > input[type='button']{
    -webkit-appearance: none !important;
    background: var(--primary-color);
    color: #ffffff;
    min-height: 50%;
    min-width: 10%;
    padding: 4px !important;
    border: solid 1px #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}

div#playback-menu > input[type='button']:hover{
    cursor: pointer;
    background: #ffffff !important;
    color: var(--primary-color);
    border-color: var(--primary-color) !important;
}
